*{
  background: #888888;
  margin: 0;
  padding: 0;

}
ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  color: white;
}
.left-nav{
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-left: 3%;
  padding-left:0 ;
  margin-top: 2%;
}
.right-nav{
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
  gap: 15px;
  margin-right: 5%;
  margin-top: 2%;
}
.container{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 5px;
  height: 50%;
  color: white;
}
.buttonbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  gap: 10px;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  color:white;
}
.footer-left{
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-left: 3%;
  padding-left:0 ;
  margin-top: 5%;
  gap:15%;
  width: 20%;
  height: 10%;
}
.footer-right{
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
  gap: 15px;
  margin-right: 3%;
  padding-left:0 ;
  margin-top: 5%;
  gap:15%;
  width: 20%;
  height: 10%;
}